@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import "tailwindcss";

@theme {
  --color-*: initial;

  --color-white: #ffffff;
  --color-black: #000000;

  --color-azure-wash: #f0f4ff;
  --color-azure-100: #e7eefd;
  --color-azure-200: #c9d8fb;
  --color-azure-300: #9fbbfc;
  --color-azure-400: #7ea5ff;
  --color-azure-500: #5f85de;
  --color-azure-600: #1f49ad;
  --color-azure-muted: hsla(218, 40%, 79%, 0.4);
  --color-azure-muted-opaque: hsl(218, 40%, 79%);
  --color-azure-ink: #010b21;

  --color-aquamarine-wash: #f2fffb;
  --color-aquamarine-100: #e1fdf4;
  --color-aquamarine-200: #bcfbe6;
  --color-aquamarine-300: #86f7d1;
  --color-aquamarine-400: #52ebb7;
  --color-aquamarine-500: #2bd69d;
  --color-aquamarine-600: #079d6b;
  --color-aquamarine-muted: hsla(160, 20%, 50%, 0.199);
  --color-aquamarine-muted-opaque: hsl(160, 20%, 50%);
  --color-aquamarine-ink: #011c13;

  --color-tangerine-wash: #fff6f2;
  --color-tangerine-100: #ffefe8;
  --color-tangerine-200: #ffd3bf;
  --color-tangerine-300: #ffab85;
  --color-tangerine-400: #ff935f;
  --color-tangerine-500: #f27941;
  --color-tangerine-600: #a63a08;
  --color-tangerine-muted: hsl(19, 20%, 50%, 50%);
  --color-tangerine-ink: #1a0901;

  --shadow-blocky-sm: 4px 4px 0 0;
  --shadow-blocky-md: 6px 6px 0 0;
  --shadow-blocky-lg: 8px 8px 0 0;
  --shadow-blocky-xl: 12px 12px 0 0;
  --shadow-blocky: var(--shadow-blocky-md);

  --breakpoint-4xs: 22rem;
  --breakpoint-3xs: 28rem;
  --breakpoint-2xs: 34rem;
  --breakpoint-xs: 36rem;
  --breakpoint-3xl: 112rem;

  --font-mono: "IBM Plex Mono", monospace;

  --font-serif: "IBM Plex Serif", serif;

  --font-sans: "IBM Plex Sans", sans-serif;

  --spacing-banner: 3rem;
}

@theme inline {
  --spacing-banner: var(--spacing-banner, 3rem);
}

@layer theme {
  :root,
  :host {
    @variant 3xs {
      --spacing-banner: 3.5rem;
    }
    @variant md {
      --spacing-banner: 4rem;
    }
  }
}

@custom-variant hover (&:hover);

@layer base {
  :root {
    scroll-behavior: smooth;
  }

  a {
    z-index: 9999 !important;
    /* pointer-events: auto !important; */
    font-family: var(--font-mono);
  }

  body {
    scrollbar-gutter: stable both-edges;
    font-family: var(--font-sans);
    scroll-behavior: smooth;
    image-rendering: -webkit-optimize-contrast;
  }

  h1,
  h2,
  h3 h4 {
    color: var(--color-aquamarine-ink);
  }

  h1 {
    font-size: 4rem;
    font-family: var(--font-mono);
  }
  h2 {
    font-size: 3rem;
    font-family: var(--font-mono);
  }
  h3 {
    font-size: 2rem;
    font-family: var(--font-mono);
  }
  h4 {
    font-size: var(--text-lg);
    font-family: var(--font-mono);
    font-weight: bold;
    text-transform: uppercase;
  }
  h5 {
    font-size: 1.5rem;
    font-family: var(--font-sans);
  }
  h6 {
    font-size: 1.1rem;
    font-family: var(--font-mono);
  }
  p {
    font-size: var(--text-base);
    font-family: var(--font-sans);
  }
}

@layer components {
  .card {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid black;
  }
}

@layer utilities {
  .shadow-blocky-sm {
    box-shadow: var(--shadow-blocky-sm)
      var(--tw-shadow-color, theme(colors.black));
  }
  .shadow-blocky-md {
    box-shadow: var(--shadow-blocky-md)
      var(--tw-shadow-color, theme(colors.black));
  }
  .shadow-blocky-lg {
    box-shadow: var(--shadow-blocky-lg)
      var(--tw-shadow-color, theme(colors.black));
  }
  .shadow-blocky-xl {
    box-shadow: var(--shadow-blocky-xl)
      var(--tw-shadow-color, theme(colors.black));
  }

  .mesh-noise::before {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='500' height='500'%3E%3Cfilter id='noise' x='0' y='0'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='500' height='500' filter='url(%23noise)' opacity='0.4'/%3E%3C/svg%3E");
    background-repeat: repeat;
    background-size: 200px 200px;
    mix-blend-mode: color-dodge;
    opacity: 0.3;
    z-index: 0;
  }

  @responsive {
    .full-tagline::after {
      content: "front-end web developer";
    }

    .short-tagline::after {
      content: "web developer";
    }
  }

  .box-shadow {
    box-shadow: 10px 10px 0 0 rgba(0, 0, 0, 0.3);
  }

  .shadow-border {
    box-shadow: 0 0 0 1px rgb(0, 0, 0);
  }

  .faint-border {
    border: 1px solid #666;
  }

  .blocky-box {
    border: 2px solid black;
    background-color: white;
    box-shadow: 4px 4px 0px var(--color-azure-500);
  }

  .text-shadow {
    text-shadow: 2px 1px var(--color-azure-ink),
      -1px -1px var(--color-azure-ink), 2px -1px var(--color-azure-ink),
      -1px 2px var(--color-azure-ink), 5px 5px 0px var(--color-tangerine-300);
  }

  .offset-border {
    position: relative;
    border: 1px solid black;
    top: -1px;
    left: -1px;
  }
  .box-title {
    font-size: 2rem;
    font-family: var(--font-mono);
    background-color: var(--color-primary);
    border-bottom: 1px solid black;
    padding: 0.5rem 1rem;
  }
}
